.delete-bookmark-btn {
  color: white;
  background-color: #2d2d34;
  cursor: pointer;
  font-size: 1.4rem;
}

.bookmark-list {
  background-color: #121212;
  color: #ffffff;
}

.list-group-item {
  background-color: #2d2d34;
  color: #ffffff;
  border-radius: 12px !important;
  border: none;
}

.list-group-item:hover {
  text-decoration: underline;
}

li * {
  text-decoration: none;
}
