/* .form-control {
  color: white !important;
} */

/* .form-control::placeholder {
  color: white !important;
} */

.white-text {
  color: white !important;
}

.white-text::placeholder {
  color: white !important;
}
